services:
  ci:
    build:
      context: .
      dockerfile: Dockerfile.ci
    volumes:
      - ./:/app
    environment:
      - XDEBUG_MODE=coverage
      - APP_ENV=testing
    # Tambahkan perintah untuk copy env dan generate key sebelum test
    command: >
            sh -c "git config --global --add safe.directory /app && 
              cp .env.example .env && 
              composer install --no-interaction && 
              php artisan key:generate && 
              vendor/bin/phpunit --coverage-clover=coverage.xml"